.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 1px;
grid-row-gap: 1px;
}



.div1 { grid-area: 1 / 1 / 2 / 6;
    background: forest-green linear-gradient(#2fcc78, rgb(31, 122, 73));
    text-align: center;
    font-family: Courier New (monospace)

}
.div2 { grid-area: 2 / 2 / 3 / 3;
text-align: center;
background-color: #79BAEC;
width: 190px;
height: 30px;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
.div2:hover {
  background-color: #1338BE;
}

.div3 { grid-area: 2 / 3 / 3 / 4;
text-align: center;
background-color: #4169e1;
width: 190px;
height: 30px;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
.div3:hover {
  background-color: #1338BE;
}

.div4 { grid-area: 2 / 4 / 3 / 5;
text-align: center;
    background-color: #151b54;
width: 190px;
height: 30px;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
.div4:hover {
  background-color: #1338BE;
}



img {
    display: block;
    margin: auto;
    position: relative; top: -280px;

}

h4 {
    position: relative; top: -290px;
    text-align: center;
    color: black
    font-family: Garamond (serif);
}

body {
    background-image: url("image2.jpg");


}

a:page2 {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

